<div
  id="container"
  (mousedown)="onMouseDown()"
  (touchstart)="onMouseDown()"
  (click)="onClick()"
  [ngStyle]="{'width': sizePx+'px', 'height': sizePx+'px'}">

  <!-- Shadow -->
  <img
    id="shadow"
    [src]="shadowImgSrc"
    draggable="false">

  <!-- State = on, off -->
  <img
    id="img"
    *ngIf="!isPressed"
    [src]="foreImgSrc"
    draggable="false">

  <!-- State = pressed -->
  <img
    id="img"
    class="pressed"
    *ngIf="isPressed"
    [src]="foreImgSrc"
    draggable="false">
</div>
