<div
  id="container"
  (mousedown)="onMouseDown()"
  (touchstart)="onMouseDown()"
  (click)="onClick()"
  [ngStyle]="{'width': sizePx+'px', 'height': sizePx+'px'}">

  <!-- Shadow -->
  <img
    id="shadow"
    [src]="shadowImgSrc"
    draggable="false">

  <!-- State = off -->
  <img
    id="img"
    *ngIf="state==='off'"
    [src]="offImgSrc"
    draggable="false">

  <!-- State = on -->
  <img
    id="img"
    *ngIf="state==='on'"
    [src]="onImgSrc"
    draggable="false">

  <!-- State = pressed -->
  <img
    id="img"
    class="pressed"
    *ngIf="state==='pressed'"
    [src]="offImgSrc"
    draggable="false">
</div>
